# VENV
venv
.idea
archive/
__pycache__/
/__pycache__/

# Files
*.log
*.png
*.jpeg
*.jpg
*.csv
*.db
*.sqlite3
.db-journal*
.db-journal
user_id.txt
users_id.txt

# Environments
*.env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
